body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table,th,td {
    border-color: blue;
    border-style: solid;
    border-width: 1px;
}
